.bg {
    width: 100%;
    text-align: center;
}

.pizza-info {
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu>h1 {
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    display: inline;
}

.pizza {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.pizza .pizza-info {
    display: flex;
    gap: 5px;
}

.pizza .pizza-info span {
    font-size: .75rem;
    font-weight: 600;
}

h1,
p,
span {
    letter-spacing: 1px;
}

footer {
    text-align: center;
}

footer button {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
}

.message {
    color: red;
    font-weight: 900;
    text-align: center;
}

small {
    text-align: center;
    padding: 0 100px;
}

.pizza.sold-out {
    color: #888;
}

.pizza.sold-out img {
    filter: grayscale(1);
    opacity: .75;
}