.bg {
    width: 100%;
    text-align: center;
}

.pizza-info {
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu>h1 {
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    display: inline;
}

.pizza {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

h1,
p,
span {
    letter-spacing: 1px;
}

footer {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

footer button {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
}

.pizza-data {
    font-size: .75rem;
    text-align: justify;
    padding: 0 10px;
}