.bg {
    width: 100%;
    text-align: center;
}

.pizza-info {
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu>h1 {
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    display: inline;
}

.pizza {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}