.card {
    border: 1px solid #000;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    border-radius: 10px 10px 0 0;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.skill-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    padding: 3px 5px;
    border-radius: 5px;
}