.card {
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    width: 55vw;
    height: 85vh;
}

.card .card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card p {
    text-align: justify;
    width: 90%;
}

.card .card-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card .card-skill span {
    border-radius: 5px;
    padding: 2px 5px;
}